<h6>I NEED HELP COMPLETING THIS APPLICATION.</h6>
<div class="p-3 my-3 bg-grey">
    A member of our team will contact you shortly to help you with your application.
</div>

<p> If you are having problems completing your application, we can contact you to talk you through the process or we can complete the form on your behalf.
</p>

<p> If you don't want to wait for a call back please contact us on 0800 011 3433
</p>

<div class="action-btns">
    <button mat-button class="btn btn-danger text-uppercase btn-sm me-2"  (click)="goToPreviousTemplate()">
        « Edit job details
    </button>

    <button mat-button class="btn btn-danger text-uppercase btn-sm me-2 d-none" >
        Please contact me
    </button>
    
</div>
