<div class="container top-header"> 
<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="" src="../../../assets/np-logo-2.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
             <a class="nav-link align-item-center " href="javascipt:void(0)"><img src="../../../assets/images/profile.png" class="user-profile"></a>
          </li>
          <li class="nav-item">
           
            <Span class="px-2">Hello John</Span>
            <ul class="nav navbar-nav">
                <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link text-color-red">My Account</a>
              </li>
              
              <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link px-0">|</a>
            </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link text-color-red">Logout</a>
                    </li>
            </ul>

          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</div>

<div class="bg-red">
<div class="container middle-header"> 
<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../assets/images/plug.png" height="30px" width="30px" style="margin-top:-8px">My Connection</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">CONNECTIONS ENQUIRIES: 0800 011 3433 </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link ">|</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> MON - FRI: 8am - 8pm SAT: 9am - 5pm</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</div>

<div class="container bottom-header"> 
<div class="row">
    <div class="col-md-6">
        <div class="new-conn-box">
            <h4>New Connection Full Quotation</h4>
        <span class="pe-3"><i class="fa-solid fa-save pe-2 h5"></i><b>Application ID: </b><span class="fw-light">NC000055</span> </span>
        <span><i class="fa-solid fa-clock pe-2 h5"></i> <b>Time Required:</b><span class="fw-light"> Approx 15 Mins</span></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class=" help-box">
            <div class="pe-3"> Help with your application<br/><span class="fw-light"> Download our guide here </span></div>
            <div><a href="../../../assets/2303.pdf" target="_blank"><i class="fa-solid fa-file-download h4 mt-2"></i></a>  </div>
        </div>
    </div>
    <div class="col-md-3" (click)="openDialog('0ms', '0ms')">
        <div class="before-box">
            <div class="pe-3"> Before you start to apply <br/> you will need</div>
            <div ><i  class="fa-solid fa-info-circle h4 mt-2"></i>  </div>
        </div>
        
    </div>
</div>
</div>
<!-- 
https://www.northernpowergrid.com/sites/default/files/2022-05/2303.pdf -->