input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.input-group-text{padding: 4px 8px;}
.height-65px{
    min-height: 65px;
    height: 65px;
}