<div class="form-container" >
  
 
  

</div>

 

<h4 class="fw-bold">Fill up the form to apply a new connection.</h4>
<div class="container parent-container p-0">
    <!-- pre:  {{previousUrl}} current: {{currentUrl}} -->
    <div class="row ">
        
        <div class="col-md-2 left-menu-section" >
            <app-navigation></app-navigation>
        </div>
        <div class="col-md-10 right-content-section py-3">
            
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>