<!-- <mat-dialog-actions align="end">
  <button mat-dialog-close><mat-icon>cancel</mat-icon></button>
</mat-dialog-actions> -->
<h1 mat-dialog-title class=" m-0 pull-right">
  <button mat-dialog-close> <mat-icon>cancel</mat-icon></button>
</h1>
<div mat-dialog-content>

<div class="row">
  <div class="col-md-12">
    <mat-icon>timer</mat-icon>
    <p>You will require apporoximately <span class="text-color-red">15 minutes</span> to complete this application and...</p>
  </div>
    <div class="col-md-6">
       <mat-icon>check</mat-icon>  <p>Name and Contact details for the owner of the generation equipment.</p>
       <mat-icon>check</mat-icon> <p>Site address where the generation equipment has been installed.</p>
       <mat-icon>check</mat-icon> <p>MPAN for the premises where the equipment has been installed.</p>
    </div>
    <div class="col-md-6">
        <mat-icon>check</mat-icon> <p>The rating in kW of the generation equipment.</p>
        <mat-icon>check</mat-icon> <p>Manufacturers type test reference number.</p>
    </div>
</div>
</div>



