p{
    margin-top: -26px;
    margin-left: 35px;
}
button {
    background: white;
    border: none;
    margin-top: -42px;
    margin-right: -4px;
   
}


button:focus, button:visited, .mat-icon:focus{outline: none; border:0px;}